{% extends "layout.html" %}

{% block title %}
Stores
{% endblock %}

{% block main %}
<script src="https://cdn.tailwindcss.com"></script>
    <section
    class="relative  bg-[url(https://cdn.shopify.com/s/files/1/0493/4670/7606/products/4-0190015676_1800x1800.jpg?v=1666022817)] bg-cover bg-center bg-no-repeat">
    <div
      class="absolute inset-0 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/30"
    ></div>
  
    <div
      class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
    >
      <div class="max-w-xl text-center sm:text-left">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
          Let us meet.
  
          <strong class="block font-extrabold text-yellow-700">
            Find us in these locations.
          </strong>
        </h1>
  
        <p class="mt-4 mx-8 max-w-lg font-medium sm:text-xl sm:leading-relaxed">
          Mumbai, Bangalore and Delhi. We are excited to open up in new locations very soon!
        </p>
  
        <div class="mt-2 mx-28 relative flex-wrap gap-4 text-center">
          
          <a
            href="#faq"
            class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-yellow-600 shadow hover:text-yellow-700 focus:outline-none focus:ring active:text-yellow-500 sm:w-auto"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="mx-9 my-7 text-center">
    <br></br>
  <p class="text-7xl font-bold sm:text-4xl">
    Visit us in our stores 
  </p>
</div>
    <!-- First -->
    <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
        <div class="relative z-10 lg:py-16">
          <div class="relative h-64 sm:h-80 lg:h-full">
           
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241287.32040885702!2d72.78298326378301!3d19.10263741807846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1666979874248!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
  
        <div class="relative flex items-center bg-gray-100">
          <span
            class="hidden lg:absolute lg:inset-y-0 lg:-left-16 lg:block lg:w-16 lg:bg-gray-100"
          ></span>
  
          <div class="p-8 sm:p-16 lg:p-24">
            <h2 class="text-2xl font-bold sm:text-3xl">
              Mumbai
            </h2>
  
            <p class="mt-4 text-gray-600">
               PetOzone Shop No. 2 & 3, Building 47,
                North Avenue Road, Punjabi Bagh (West),
                Mumbai 400026
            </p>
          </div>
        </div>
      </div>
    </div>

<!-- SECOND -->
<div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448181.16374173947!2d76.81306471782212!3d28.64727993554295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1666980713505!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-left-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Delhi
          </h2>

          <p class="mt-4 text-gray-600">
             PetOzone Shop No. 2 & 3, Building 47,
              East Avenue Road, Irani Bagh (West),
              Delhi 400026
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- THIRD -->

  <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
         
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497698.66008074826!2d77.35073606004289!3d12.954517008209265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1666980749871!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-left-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Bengaluru
          </h2>

          <p class="mt-4 text-gray-600">
             PetOzone Shop No. 2 & 3, Building 47,
              South Avenue Road, Karol Bagh (West),
              Bengaluru 400026
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQs -->

  <div class="mx-10 my-1" >
    <a id="faq">
    <div class="mx-9 my-7 text-center">
        <p class="text-5xl font-bold sm:text-xl">
          Frequently Asked Questions
        </p>
    </div>

    <details class="group border-l-4 border-blue-800 bg-gray-50 p-6" open>
      <summary class="flex cursor-pointer items-center justify-between">
        <h2 class="text-lg font-medium text-gray-900">
          Can pets come into PetOzone?
        </h2>
  
        <span
          class="ml-1.5 flex-shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 flex-shrink-0 transition duration-300 group-open:-rotate-45"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Yes. Any domesticated, licensed, vaccinated companion animals are welcome to 
        accompany you to your visit to PetOzone. All visiting pets are required to be appropriately restrained 
        (leash, carrier, travel habitat).
      </p>
    </details>
  
    <details class="group border-l-4 border-blue-800 bg-gray-50 p-6">
      <summary class="flex cursor-pointer items-center justify-between">
        <h2 class="text-lg font-medium text-gray-900">
          Does PetOzone offer curbside pickup?
        </h2>
  
        <span
          class="ml-1.5 flex-shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 flex-shrink-0 transition duration-300 group-open:-rotate-45"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </summary>
  
      <p class="mt-4 leading-relaxed text-gray-700">
        Yes. Curbside pickup is available at PetOzone, during regular store hours. All of our products that are 
        eligible for store pickup will show this option on the product's detail page.
      </p>
    </details>

    <details class="group border-l-4 border-blue-800 bg-gray-50 p-6">
        <summary class="flex cursor-pointer items-center justify-between">
          <h2 class="text-lg font-medium text-gray-900">
            How old do you have to be to work at PetOzone?
          </h2>
    
          <span
            class="ml-1.5 flex-shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 flex-shrink-0 transition duration-300 group-open:-rotate-45"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </summary>
    
        <p class="mt-4 leading-relaxed text-gray-700">
            You must be 18 years old to work at most Petco locations.
        </p>
      </details>

      <details class="group border-l-4 border-blue-800 bg-gray-50 p-6">
        <summary class="flex cursor-pointer items-center justify-between">
          <h2 class="text-lg font-medium text-gray-900">
            Does PetOzone sell dogs and cats?
          </h2>
    
          <span
            class="ml-1.5 flex-shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 flex-shrink-0 transition duration-300 group-open:-rotate-45"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </summary>
    
        <p class="mt-4 leading-relaxed text-gray-700">
            No. We do not. We only sell the best and premium quality foods, clothes and medicines for your precious pets.
        </p>
      </details>
    
    <details class="group border-l-4 border-blue-800 bg-gray-50 p-6">
        <summary class="flex cursor-pointer items-center justify-between">
          <h2 class="text-lg font-medium text-gray-900">
            What additional precautions is PetOzone taking in the light of Covid-19 pandemic?
          </h2>
    
          <span
            class="ml-1.5 flex-shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 flex-shrink-0 transition duration-300 group-open:-rotate-45"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </summary>
    
        <p class="mt-4 leading-relaxed text-gray-700">
            All PetOzone stores are cleaned and sanitized daily as part of our normal business operations. In light of COVID-19, we're increasing the frequency and extent of those cleanings and taking proactive steps to ensure all PetOzone locations (including stores and our distribution and support centers) have ample hygiene and sanitation supplies available.

            Out of an abundance of caution, we’re making disposable gloves and masks available to all PetOzone partners, and requiring that all partners wear masks while working in our stores. Additionally, we have installed plexiglass barriers in PetOzone stores located in areas that are highly impacted by COVID-19, and are in the process of making this safety feature available in stores nationwide.
            
            Each PetOzone store has several hand sanitizer dispenser stations in place at varying locations throughout the store, and we've instructed our store teams to ensure hand sanitizer is also available at all checkout locations, grooming salons and other high traffic areas of the store.
            
            Using in-store signage, we're encouraging customers to help us keep our communities safe by maintaining at least six feet of distance from others, limiting the number of people per shopping trips when possible, and other recommended precautions.
        </p>
      </details>
    </a>

  </div>
  
{% endblock %}